<h1>What is Lorem Ipsum?</h1>
<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h4>
<br />
<br />
<p>You are about to buy something</p>
<br />
<div id="klarna-payments-container"></div>
<br />
<br />
<a id="approve_purchase" class="btn btn-info" style="width: 50%;">Buy</a>
<form method="POST" action="/buy" id="authorize_form">
  <input type="hidden" name="klarna_authorization_token" id="klarna_authorization_token" value=""/>
</form>

<script src="https://x.klarnacdn.net/kp/lib/v1/api.js" async></script>
<script type="text/javascript">
    window.klarnaAsyncCallback = function() {
        Klarna.Payments.init({
            client_token: '<%= klarna_client_token %>'
        });

        Klarna.Payments.load({
            container: "#klarna-payments-container",
            payment_method_category: "pay_later"
        }, function(response) {
            console.debug(response);
        });
    };

    var Payway = (function() {
        var btn = document.getElementById("approve_purchase");
        var klarna_authorization_token_input = document.getElementById('klarna_authorization_token');
        var form = document.getElementById('authorize_form');

        btn.addEventListener("click", function() {
            try {
                Klarna.Payments.authorize({
                    payment_method_category: "pay_later"
                },{}, function (response) {
                    console.debug(response);
                    if(response.approved) {
                        klarna_authorization_token_input.value = response.authorization_token;
                        form.submit();
                    } else {
                        // get sad and angry
                    }
                    return true;
                });
            } catch (e) {
                console.debug(e);
            }
            return false;
        });
    })();
</script>