<div class="text-center">
  <div class="row">
      <h1>Place an order & create an account</h1>
  </div>
  <% if has_article_access %>
  <p>
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <br />
    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
  </p>
  <% else %>
    <div class="row">
      <form method="get" class="col-md-6" action="/buy_without_account">
        <% if product_code %>
          <h4>Buy <%= product_code %></h4>
          <p><input type="text" name="contact_email" style="width: 250px;" placeholder="Contact email"/></p>
          <p><input type="text" name="first_name" style="width: 250px;" placeholder="First name"/></p>
          <p><input type="text" name="last_name" style="width: 250px;" placeholder="Last name"/></p>
          <p><input type="submit" name="submit" style="width: 250px;" class="btn btn-info" value="Submit" /></p>
        <% else %>
          <h4>No product code found in config.yml</h4>
        <% end %>
      </form>

      <form method="get" class="col-md-6" action="/buy_trial_without_account">
        <% if campaign_code %>
          <h4>Trial <%= campaign_code %></h4>
          <p><input type="text" name="contact_email" style="width: 250px;" placeholder="Contact email"/></p>
          <p><input type="text" name="first_name" style="width: 250px;" placeholder="First name"/></p>
          <p><input type="text" name="last_name" style="width: 250px;" placeholder="Last name"/></p>
          <p><input type="submit" name="submit" style="width: 250px;" class="btn btn-info" value="Submit" /></p>
        <% else %>
          <h4>No campaign code found in config.yml</h4>
        <% end %>
      </form>
    </div>
  <% end %>
</div>