<div style="max-width: 300px;">
  <form method="post" action="/login">
    <h3>Log in</h3>
    <p>
      Username: <br/>
      <input type="text" name="user" style="width: 250px;" />
    </p>
    <p>
      Password: <br/>
      <input type="password" name="pwd" style="width: 250px;" />
    </p>
    <p>
      <input type="submit" value="Log in" class="btn btn-info" style="width: 250px;" />
    </p>
  </form>
  <form method="get" action="/index_without_account">
    <p>
      <input type="submit" value="New customer? Register here!" class="btn btn-info" style="width: 250px;" />
    </p>
  </form>
</div>
